*.emSession
projects/applications/BluetoothAppl/Projects/ses/Output
projects/applications/BatchApplication/Projects/ses/Output
projects/applications/HelloWorld/Output
projects/applications/Examples/Output
docs/functions/rename.bat
