/* SQL syntax highlights. Colors meant for use on a light backgrond*/

.sql-code {
    color: #484848; /*default Opticon text color*/
}

.sql-code .keyword {
    color: blue;
    font-weight: bold;
}

.sql-code .function, .sql-code .valuetype {
    color: red;
    font-weight: bold;
}

.sql-code .number {
    color: darkorange;
}

.sql-code .string {
    color: green;
}

.sql-code .special, .sql-code .bracket {
    color: black;
    font-weight:bold;
}
